h2 {
  margin-bottom:40px;
  margin-top:0px;
}

.overlay-container {
  position: fixed; 
  inset: 0;              
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.confirm-dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;                   

  background-color: #23385e;
  border-radius: 30px;
  padding: 50px;
  width: 500px;
  max-width: 90vw;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);      
}


.confirm-dialog-label {
  font-size:20px;
  margin-bottom: 10px;
  margin-top:0;
}

.confirm-dialog-input {
  padding:10px;
  border-radius: 10px;
  border:none;
  font-size:16px;
  margin-bottom: 20px;
  border: 3px solid transparent;
}
.confirm-dialog-input:focus {
  outline: none;
  border: 3px solid rgb(94, 96, 176);
}


.dialog-buttons-container {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  width:100%;
  margin-top:5px;
}

.confirm-add-button, .cancel-add-button {
  border:none;
  padding: 15px 30px;
  border-radius: 20px;
  color: white;
  font-size:20px;
    
}

.confirm-add-button {
  background-color: rgb(0, 93, 224);
}

.cancel-add-button {
   background-color: rgb(108, 126, 152);
}

.confirm-add-button:hover {
  background-color: rgb(8, 76, 172);
  cursor:pointer;
}

 .cancel-add-button:hover {
  background-color: rgb(81, 93, 109);
  cursor:pointer;
 }