.app-container {
  background-color: #273349 ;
  padding:50px 100px;
  width: min(900px, 80%);
  margin: 50px auto;
  max-width: 900px;
  border-radius:25px;
  flex-shrink: 0;
  margin-top: 50px;
}

h1 {
  font-size:36px;
}

.add-button {
  background-color: rgb(59, 62, 156);
  border:none;
  padding: 15px 30px;
  border-radius: 20px;
  color: white;
  font-size:20px;
  margin-top:40px;
    
}
.add-button:hover {
  background-color: rgb(54, 55, 139);
  cursor:pointer;
}