.new-entry-overlay {
  position: fixed;
  inset: 0;              
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
 
.new-entry-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.new-entry-input-label {
  font-size:20px;
  margin-bottom: 10px;
  margin-top:10px;
}

.new-entry-input {
  padding:10px;
  border-radius: 10px;
  border:none;
  font-size:16px;
  margin-bottom: 8px;
  border: 3px solid transparent;
}
.new-entry-input:focus {
  outline: none;
  border: 3px solid rgb(94, 96, 176);
}


.new-entry-buttons-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  margin-top:20px;
}

.new-entry-confirm-button, .new-entry-cancel-button {
  border:none;
  padding: 15px 30px;
  border-radius: 20px;
  color: white;
  font-size:20px;
    
}

.new-entry-confirm-button {
  background-color: rgb(63, 66, 163);
}

.new-entry-cancel-button {
   background-color: rgb(108, 126, 152);
}

.new-entry-confirm-button:hover {
  background-color: rgb(57, 59, 145);
  cursor:pointer;
}

.new-entry-cancel-button:hover {
  background-color: rgb(81, 93, 109);
  cursor:pointer;
 }