.delete-dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;                   

  background-color: #23385e;
  border-radius: 30px;
  padding: 40px 50px;
  width: 500px;
  max-width: 90vw;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.delete-dialog-text {
  font-size:20px;
  margin-top:0px;
  margin-bottom:0px;
  line-height: 1.75;
}