.loading-container {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 30px;
}

.loading-icon {
  width: 30px;
  height: 30px;

  border: 5px solid #ccc;
  border-top: 5px solid rgb(59, 62, 156);
  border-radius: 50%;

  animation: spin 0.8s linear infinite;

  margin-right:15px;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.loading-message {
  color: #ccc;
  font-size: 18px;
  margin:0px;
  line-height: 28px;
}