body {
  background: linear-gradient(90deg,rgba(0, 161, 224, 1) 0%, rgba(62, 207, 199, 1) 100%);
  font-family:Arial;
  margin:0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*Seitliche Scrollbar*/
::-webkit-scrollbar {
  width: 0px;
}

/* Track (Hintergrund) */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Thumb (der bewegliche Teil) */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 6px;
}

/* Hover-Effekt */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

* {
  scrollbar-width:none; /* auto | thin | none */
  scrollbar-color: #ffffff #1e1e1e; /* thumb | track */
}