.app-container {
  display:flex;
  justify-content: start;
  align-items:start;
  padding:50px 30px;
  padding-bottom: 0;
}


/*Location Auswahl*/
.location-selector-container {
  min-width: 150px;
  display:flex;
  justify-content: baseline;
  align-items:center;
  width: clamp(200px, 30vw, 250px);
  flex-shrink:0;
}

.pin-icon {
  height:30px;
  width:30px;                                                     
  margin-right:12px;
}

.current-location-text {
  font-size: 20px;
}

.location-selector-dropdown {
  position: relative;
}
.location-selector-dropdown-button {
  width: 100%;
  padding: 10px;
  background: rgba(0,0,0,0);
  color:white;
  border:none;
  border-radius:15px;
  cursor:pointer;
  font-size:24px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.location-selector-dropdown-button:hover {
  background: rgba(0,0,0,0.2);
}
.location-selector-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background: rgba(0,0,0,0.2);
  border: none;
  border-radius: 15px;
  overflow: hidden;
}
.location-selector-dropdown-option {
  padding: 10px;
  font-size:18px;
  color:white;
  cursor: pointer;
}
.location-selector-dropdown-option:hover {
  background: rgba(0,0,0,0.25);
}

.add-location-button {
  color:White;
  border:none;
  background-color:rgba(75, 75, 75, 0);
  border-radius: 50%;
  display:flex;
  align-items:center;
  justify-content: center;
  padding:10px;
  font-weight:bold;
  font-size:24px;
  aspect-ratio: 1 / 1;
}
.add-location-button:hover {
  cursor:pointer;
  background-color:rgba(75, 75, 75, 0.2);
}

.add-location-icon {
  height:25px;
  width:25px;
}


/*Hauptteil*/
.main {
  padding-right:200px;
  width:100%;
}

.overview-container {
  display:flex;
  justify-content:flex-start;
  align-items: center;
  color: white;
  padding-top:0px;
  padding-left:25px;
}

.overview-temperature-container {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  margin-right:50px;
}
.overview-current-temperature-container {
  display:flex;
  justify-content: space-evenly;
  align-items:baseline;
}
.current-temperature {
  font-size:50px;
  margin:0;
}
.current-weather {
  font-size:24px;
  margin:0;
  margin-left:20px;
}

.overview-extreme-temperatures-container {
  display:flex;
  justify-content: space-evenly;
  align-items:end;
}
.extreme-temperatures {
  font-size:20px;
  margin:0;
  margin-right:20px;
}

.overview-icon {
  width:100px;
  height:100px;
}

.details-container {
  width: 100%;
  overflow-x: hidden;
}


.details-type-selector {
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-top:35px;
  margin-bottom: 25px;
  width:100%
}

.details-type-button, .details-type-button-active {
  color:White;
  border:none;
  background-color:rgba(75, 75, 75, 0);
  border-radius: 25px;
  display:flex;
  align-items:center;
  justify-content: center;
  padding:12px 20px;
  font-weight:bold;
  font-size:20px;
}
.details-type-button:hover {
  cursor:pointer;
  background-color:rgba(75, 75, 75, 0.2);
}

.details-type-button-active {
  background-color:rgba(0,0,0,0.2);
}
.details-type-button-active:hover {
  cursor:pointer;
  background-color:rgba(0,0,0, 0.3);
}