.weather-card {
  border-radius:15px;
  background-color:rgba(0,0,0,0.2);
  color:white;
  overflow: hidden;
  min-width: 0;
  padding:20px;
  padding-bottom:10px;
  overflow-x: auto;
  height:100%
}

.card-header {
  margin-top:0px;
  margin-bottom: 10px;
}

.card-body {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
}